/* ------VARIABLES AND SETUP------ */

:root {
  /* COLORS */
  
  --white : #ffffff;
  --primary-base: #c5f82a;
  --grey-base: #1f1f1f;
  --grey-tint: #333333;
  --grey-shade: #141414;
  
  /* FONTS */
  
  --fluid-font-0: clamp(0.875rem, 0.875rem + 0vw, 0.875rem);
  --fluid-font-1: clamp(1.05rem, 0.9212rem + 0.5495vw, 1.4158rem);
}


@font-face {
  font-family: "Inter";
  src: url(assets/fonts/Inter-VariableFont_slnt\,wght.ttf);
  font-weight: 100 900;
}

/* ------RESET------ */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* ------BASE------ */

body {
  font-family: "Inter", sans-serif;
  background-color: var(--grey-shade);
  min-height: 100dvh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1rem;
}

/* ------TYPOGRAPHY------ */

h1 {
  font-size: var(--fluid-font-1);
  font-weight: 700;
  letter-spacing: 1px;
  margin-bottom: 0.25rem;
  color: var(--white);
}

p {
  font-size: var(--fluid-font-0);
  font-weight: 400;
  color: var(--white);
}


/* ------COMPONENTS------ */

.profile-card {
  background-color: var(--grey-base);
  max-width: 380px;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 1.25rem;
  padding: 2rem;
  border-radius: 8px;
}

.profile {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.profile-avatar {
  width: 80px;
  border-radius: 50%;
  margin-bottom: 1rem;
}

.profile-location {
  font-weight: 600;
  color: var(--primary-base);
  margin-bottom: 1.5rem;
}

.profile-bio {
  opacity: 0.8;
}

.social-links {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  text-align: center;
  gap: 1rem;
}

.social-link {
  display: block;
  text-decoration: none;
  font-size: var(--fluid-font-0);
  font-weight: 600;
  border-radius: 6px;
  padding: 0.8rem;
  background-color: var(--grey-tint);
  color: var(--white);
  transition: background-color 0.3s, color 0.3s;
}

/* ------UI ELEMENTS------ */

.social-link:hover, .social-link:focus {
  background-color: var(--primary-base);
  color: var(--grey-shade);
  outline: none;
}