* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
/* COLORS */

  --white : #ffffff;
  --primary-base: #c5f82a;
  --grey-base: #1f1f1f;
  --grey-tint: #333333;
  --grey-shade: #141414;

/* FONTS */

  --fluid-font-0: clamp(0.875rem, 0.875rem + 0vw, 0.875rem);
  --fluid-font-1: clamp(1.05rem, 0.9212rem + 0.5495vw, 1.4158rem);
/* SPACING */

  --fluid-space-20-30: clamp(1.25rem, 1.0299rem + 0.939vw, 1.875rem);
}

@font-face {
  font-family: "Inter";
  src: url(assets/fonts/Inter-VariableFont_slnt\,wght.ttf);
  font-weight: 100 900;
}

/* GLOBAL */

body {
  font-family: "Inter", sans-serif;
  background-color: var(--grey-shade);
  min-height: 100dvh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1rem;
}

h1 {
  font-size: var(--fluid-font-1);
  font-weight: 700;
  letter-spacing: 1px;
  margin-bottom: 4px;
  color: var(--white);
}

h1 + p {
  font-size: var(--fluid-font-0);
  font-weight: 600;
  color: var(--primary-base);
  margin-bottom: 20px;
}

p {
  font-size: var(--fluid-font-0);
  font-weight: 400;
  color: var(--white);
}

ul {
  list-style-type: none;
}

a {
  display: inline-block;
  width: 100%;
  text-decoration: none;
  font-size: var(--fluid-font-0);
  font-weight: 600;
  border-radius: 6px;
  padding: 0.5rem;
  transition: background-color 0.3s, color 0.3s;
}


.profile-card {
  background-color: var(--grey-base);
  max-width: 340px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 2rem;
  border-radius: 8px;
}

.profile {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.profile img {
  width: 70px;
  border-radius: 50%;
  margin-bottom: 15px;
}

.social-links {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  text-align: center;
  gap: 15px;
}

a:link, a:visited {
  background-color: var(--grey-tint);
  color: var(--white);
}

a:hover, a:focus {
  background-color: var(--primary-base);
  color: var(--grey-shade);
}